/* 文字化け防ぐ */
@charset "UTF-8";

/* テキストの自動拡大化を無効化 */
body{
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* 基本設定 */
/* 下記の＊は全ての要素という意味 */
* {
	margin: 0;
}
img {
	width: 30%;
	height: auto;
}

body{
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows:
  [head] 150px
  [section] auto;
  row-gap: 20px;
  font-family: sans-serif;
  background-color: #FFE382;
  height: 1743px; 
}

body> *{
  grid-column: 2 / -2;
}

header{
	grid-row: head;
  grid-column: 1 / -1;
  /* justify-self: center;
	align-self: center; */
	font-size: 15px;
	color:#F5F5F5;
  background-color: #484B7E;;
  font-family: 'Raleway', sans-serif;
  padding-top: 20px;
}

header ul{
  display: grid;
  grid-auto-flow: column;
  list-style-type: none;
}

header  a {
  color:#F5F5F5;
  text-decoration: none;
  border: solid 1px #ffffff;
  padding: 10px 10px;
  display: inline-block;
  margin-top: 10px;
  border-radius: 10px;
  background-color:#484B7E;
 }
 
 header  a:hover{
  background-color: crimson;
 }

.c-button {
  appearance: none;
  border: 0;
  border-radius: 5px;
  background-color:#484B7E;
  color: #fff;
  padding: 8px ;
  padding-left: 90px;
  font-size: 30px;
  font-family: inherit;
  min-width: 100px;
}

.c-button:hover {
  background: #1d49aa;
}
 
/* .c-button:focus {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
} */

#outPoint{
  display: none;
  color: #fff;
  font-size: 50px;
}

header li a{
font-size: 40px;
}

section{
  grid-row: section;

}

section img{
  width:30%;
}

.output{
  overflow: hidden;
  box-sizing: border-box;
}

.output2{
  background-color:greenyellow;
  width: 20px;
  height: 20px;
}

