/* 文字化け防ぐ */
@charset "UTF-8";

/* 基本設定 */
/* 下記の＊は全ての要素という意味 */
* {
	margin: 0;
}
/* img {
	width: 100%;
	height: auto;
}  */

/* ページ全体の設定 */
body {
	display: grid;
	grid-template-columns: 20px 1fr 20px;
  
	grid-template-rows: 
									[head] 80px
									[login] auto;
								
	grid-row-gap: 20px;
	row-gap: 20px;
  font-family: sans-serif;
  background-color: #FFE382;
}

body > * {
	grid-column: 2 / -2;
}

header{
  grid-row:head ;
  grid-column: 1 / -1;
  background-color:#ffffff;
}

.img_title{
  grid-row: head;
  text-align: center;
  justify-content: center;
  font-size: 25px;
	color:#373870;;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 5px;
  
}


section{
  grid-row: login;
}

.login h2,h3,p{
  padding-bottom: 15px;
}

form p {
  margin-bottom: 20px;
}

input {
  width: 335px;
  box-sizing: border-box;
  padding: 10px;
}

input[type="submit"]{
  background-color:#373870;
  color:#F5F5F5;
  border: none;
  -webkit-appearance: none;
}

/* PC版画面設定 */
@media(min-width:768px){

  body{
    grid-template-columns: 0.2fr repeat(6,1fr) 0.2fr;
    column-gap: 5%;
    grid-template-rows:
                    [head] 50px
                    [login] auto;
}
}