/* 文字化け防ぐ */
@charset "UTF-8";

/* 基本設定 */
/* 下記の＊は全ての要素という意味 */
* {
	margin: 0;
}
img {
	width: 100%;
	height: auto;
}

/* ページ全体の設定 */
body {
	display: grid;
	grid-template-columns: 20px 1fr 20px;
  
	grid-template-rows: 
									[head] 100px
									[login] auto
									[goto_home] auto
									[foot] 100px;
	grid-row-gap: 20px;
	row-gap: 20px;
  font-family: sans-serif;
  background-color: #FFE382;
   /* background-color: #82E8FF;
   background-color: #A9324B;   */
   /* background-color: #263583;  */
}

/* パーツの配置*/
/* / <body>の1階層下の全ての要素＊を適用するためbody > *としている */ 
body > * {
	grid-column: 2 / -2;
}

header{
  grid-row: head;
  grid-column: 1 / -1;
  /* background-color: #484B7E; */
  background-color: #373870;
  
}

header p {
  padding-top: 25px;
  justify-content: end;
	text-align: center;
	font-size: 40px;
	color:#F5F5F5;
  font-family: 'Raleway', sans-serif;
}

header a {
  color: inherit;
  text-decoration: none;
}
section{
  grid-row: login;
}

form p {
  margin-bottom: 20px;
}

input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

input[type="submit"]{
  background-color:#373870;
  color:#F5F5F5;
  border: none;
  -webkit-appearance: none;
}

 div{
   grid-row: goto_home;
   text-align: center;
 }
 div a {
  color:#F5F5F5;
  text-decoration: none;
  border: solid 1px #ffffff;
  padding: 10px 40px;
  display: inline-block;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #373870;
}

div a:hover{
  background-color: crimson;
}

/* フッター */
footer{
  grid-row: foot;
  justify-self: center;
  align-self: center;
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
  color:#F5F5F5;

}
/* フッターのバー */
 /* 擬似要素を作成 */
body::after{
  grid-row: foot;
  grid-column: 1 / -1;
  content: '';
  background-color:#373870;
  z-index: -1;

}


/* PC版画面設定 */
@media(min-width:768px){

  body{
    grid-template-columns: 0.2fr repeat(6,1fr) 0.2fr;
    column-gap: 5%;
    grid-template-rows:
  	              [head] 100px
									[login] auto
									[goto_home] auto
									[foot] 100px;
 
  }
 
 
 
 }