/* 文字化け防ぐ */
@charset "UTF-8";

/* テキストの自動拡大化を無効化 */
body{
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* 基本設定 */
/* 下記の＊は全ての要素という意味 */
* {
	margin: 0;
}
img {
	width: 100%;
	height: auto;
}

body{
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows: 
        
            [h1] auto
            [section] auto
            [div] auto
            [foot] 100px;
  row-gap: 0px;
  font-family: sans-serif;
  background-color: #FFE382;
 
}

body > *{
    grid-column: 2 / -2;
}


h1{
   justify-self: center;
    align-self: center;
  margin-bottom: 0px;
  padding-top: 15px;
}

section{
	grid-row:section ;
  grid-column: 2 / -2;
  display: grid;
  grid-template-columns: 1fr  1fr; 
/* column-gap: -25px; */
	row-gap: 30px;
  padding-top: 15px;
}

section ul {
  list-style-type: none;
  justify-self: center;
  align-self: center;
  padding-left: 16px;
  width: 261px;
}
section li{
  font-size: 12px;
  text-align: center;
  width: 120px;
}

section img{
	width: 100px ;
	height: auto;
}

section button{
  width: 70px;
  font-size: 25px;
  text-align: center;
  color:#F5F5F5;
 text-decoration: none;
 border: solid 1px #ffffff;
 padding: 10px 40px;
 display: inline-block;
 margin-top: 10px;
 border-radius: 10px;
 background-color:#484B7E;
}


section button:hover{
 background-color: crimson;
}


div{
  grid-row: div;
  text-align: center;
}
div a {
 color:#F5F5F5;
 text-decoration: none;
 border: solid 1px #ffffff;
 padding: 10px 10px;
 display: inline-block;
 margin-top: 10px;
 border-radius: 10px;
 background-color: #373870;
}

div a:hover{
 background-color: crimson;
}


footer{
	grid-row: foot;
  grid-column: 1 / -1;
  display: grid;
  grid-auto-flow: column;
  
}
