/* 文字化け防ぐ */
@charset "UTF-8";

/* テキストの自動拡大化を無効化 */
body{
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* 基本設定 */
/* 下記の＊は全ての要素という意味 */
* {
	margin: 0;
}
/* img {
	width: 100%;
	height: auto;
} */

body{
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows:
  [head] 80px
  [h2] 30px
  [section] auto
  [div] auto;

  row-gap: 20px;
  font-family: sans-serif;
  background-color: #FFE382;
}


body> *{
  grid-column: 2 / -2;
}

header{
  grid-row:head ;
  grid-column: 1 / -1;
  background-color:#ffffff;
}

.img_title{
  grid-row: head;
  text-align: center;
  justify-content: center;
  font-size: 25px;
	color:#373870;;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 10px;
  
}



h2{
  grid-row: h2;
  justify-self: center;
  align-self: center;
margin-bottom: 0px;
padding-top: 10px;
}

section{
  grid-row: section;
}

div{
  grid-row: div;
}

form p {
  margin-bottom: 20px;
}

input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

input[type="submit"]{
  background-color:#484B7E;
  color:#F5F5F5;
  border: none;
  -webkit-appearance: none;
}


div{
  grid-row: div;
  text-align: center;
}
div a {
 color:#F5F5F5;
 text-decoration: none;
 border: solid 1px #ffffff;
 padding: 10px 10px;
 display: inline-block;
 margin-top: 10px;
 border-radius: 10px;
 background-color:#484B7E;
}

/* labelをボタン*/
.upload-label {
  display: inline-block;
  cursor: pointer; /* カーソルを指に */
  margin: 1em 0; /* まわりの余白 */
  padding: .7em 1em; /* 文字まわりの余白 */
  line-height: 1.4; /* 行間 */
  background: #484B7E; /* 背景色 */
  color: #FFF; /* 文字色 */
  font-size: 0.95em; /* フォントサイズ */
  border-radius: 2.5em; /* 角の丸み */
  transition: 0.2s; /* ホバーをなめらかに */
}
/* ホバー時 */
.upload-label:hover {
  box-shadow: 0 8px 10px -2px rgba(0, 0, 0, 0.2); /* 影を表示 */
}
/* inputは隠す */
/* .upload-label input {
  display: none;
} */


/* ===== PC版の設定 ===== */
@media (min-width: 768px) {

  /* PC版：ページ全体の設定 */
  body {
    grid-template-columns: 0.2fr repeat(6,1fr) 0.2fr;
    grid-column-gap: 5%;
    column-gap: 5%;
    grid-template-rows: 
      [head] 100px
      [title sub] auto
      [recent] auto
      [foot] 100px;
  }
  
  
  
  /* PC版：記事一覧 */
  section {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    column-gap: 20px;
  }
  

  

  input[type="submit"] {
    width: 250px;
  }
  
  }
  /* ===== PC版の設定ここまで ===== */