@charset "UTF-8";

/* テキストの自動拡大化を無効化 */
body{
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
* {
	margin: 0;
}
img {
	width: 100%;
	height: auto;
}

body{
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows: 
        
            [h2] 100px
            [section] auto
            [div] auto;
  row-gap: 0px;
  font-family: sans-serif;
  background-color: #FFE382;
}

body > *{
    grid-column: 2 / -2;
}

h2{
  grid-row: h2;
   justify-self: center;
    align-self: center;
  margin-bottom: 0px;
  padding-top: 30px;

}

section{
	grid-row:section ;
  grid-column: 2 / -2;
  display: grid;
  grid-template-columns: 1fr  1fr ; 
 column-gap: 10px;
	row-gap: 30px;
  
  padding-top: 60px;
}

section ul {
  list-style-type: none;
  justify-self: center;
  align-self: center;
  padding-left: 16px;
  width: 260px;

}
section li{
  font-size: 20px;
  text-align: center;
  width: 300px;
}

section img{
	width: 200px ;
	height: auto;
}

/* section button{
  width: 150px;
  font-size: 7px;
  text-align: center;
  
} */

div{
  grid-row: div;
  text-align: center;
  
}
div a {
 color:#F5F5F5;
 text-decoration: none;
 border: solid 1px #ffffff;
 padding: 10px 10px;
 display: inline-block;
 margin-top: 10px;
 border-radius: 10px;
 background-color: #373870;
 font-size: 50px;
 padding-left: 15px;
 margin-left: 30px;
}

div a:hover{
 background-color: crimson;
}
